body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  display: block;
  margin-bottom: 1em;
}
