<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/12-Core-Site/REACT/REACT/aux-folder/w-14-aa/W14D4/rainbow-routes-solution/src/components</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="Blue.js" target="_parent">Blue.js</a>&nbsp;</td><td><a href="Indigo.js" target="_parent">Indigo.js</a>&nbsp;</td><td><a href="Rainbow.js" target="_parent">Rainbow.js</a>&nbsp;</td><td><a href="Violet.js" target="_parent">Violet.js</a>&nbsp;</td></tr>
<tr class="row2"><td><a href="Green.js" target="_parent">Green.js</a>&nbsp;</td><td><a href="Orange.js" target="_parent">Orange.js</a>&nbsp;</td><td><a href="Red.js" target="_parent">Red.js</a>&nbsp;</td><td><a href="Yellow.js" target="_parent">Yellow.js</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  1<br>
Files: 8<br>
Size of all files: 2469 KB</p>

</body>
</html>