<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>C:/Lambda/CIRRICULUMN/Lambda-Student-Resource-Site/WEEKS/12-Core-Site/REACT/spectrum-alpha/src/components/modals</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bgoonz/GIT-CDN-FILES/right.css">
</head>

<body>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><td colspan="4" class="header-row"><b>Folders</b></td></tr>
<tr><td><a href="../right.html" target="rframe">&lt;Go Back&gt;</a></td><td>&nbsp;<a href="CloseComposerConfirmationModal/right.html" target="rframe">CloseComp...nModal</a></td><td>&nbsp;<a href="LoginModal/right.html" target="rframe">LoginModal</a></td><td>&nbsp;<a href="ReportUserModal/right.html" target="rframe">ReportUserModal</a></td></tr>
<tr class="row2"><td><a href="BanUserModal/right.html" target="rframe">BanUserModal</a></td><td>&nbsp;<a href="CreateChannelModal/right.html" target="rframe">CreateChannelModal</a></td><td>&nbsp;<a href="RepExplainerModal/right.html" target="rframe">RepExplainerModal</a></td><td>&nbsp;<a href="RestoreChannelModal/right.html" target="rframe">RestoreCh...lModal</a></td></tr>
<tr><td><a href="ChangeChannelModal/right.html" target="rframe">ChangeChannelModal</a></td><td>&nbsp;<a href="DeleteDoubleCheckModal/right.html" target="rframe">DeleteDou...kModal</a></td><td></td><td></td></tr>
</table>
<br>

<table border="0" cellspacing="1" cellpadding="2" summary="file table" class="file-table centered">
<tr><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th><th><b>File</b></th></tr>
<tr><td><a href="modalContainer.js" target="_parent">modalContainer.js</a>&nbsp;</td><td><a href="modalRoot.js" target="_parent">modalRoot.js</a>&nbsp;</td><td><a href="styles.js" target="_parent">styles.js</a>&nbsp;</td></tr>
</table>

<p class="summary-style">
Folders:  10<br>
Files: 3<br>
Size of all files: 5596 KB</p>

</body>
</html>